.box{
    width: 400px;
    height: 400px;
    color: rgb(255, 255, 255);
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    font-weight: 700;
    background-color:rgb(88, 90, 88);
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    padding-top: 10px;
    margin: 50px 25px;
}

.box:hover {
    background-color:rgb(5, 239, 1);
    
    box-shadow: 20px 20px 15px 10px rgba(0, 0, 0, 0.4);
    transform: translate(0,0);
      
}